@font-face {
  font-family: 'iconfont'; /* Project id 5093633 */
  src:
    url('//at.alicdn.com/t/c/font_5093633_29hjjurxk8a.woff2?t=1766548039897') format('woff2'),
    url('//at.alicdn.com/t/c/font_5093633_29hjjurxk8a.woff?t=1766548039897') format('woff'),
    url('//at.alicdn.com/t/c/font_5093633_29hjjurxk8a.ttf?t=1766548039897') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
